<!-- Title Banner Stuff -->
<title>Jacob Bryant.</title>

<!-- Meta Info -->
<meta name="author" content="Jacob Bryant" />

<meta charset="utf-8" />

<meta
    name="viewport"
    content="width=device-width, height=device-height, initial-scale=1"
/>

<meta
    name="description"
    content="A London-based graphics/motion designer specialising in brand identities and 2D motion design, with recognised agency experience and over two years of working as a freelancer. Combining unrelenting positivity, distinct creativity and persistent eagerness to collaborate and ensure impactful, well-crafted, idea-led outcomes."
/>

<meta
    name="keywords"
    content="Portfolio, Graphic Design, Norwich University of the Arts, Motion Design, Freelance, Freelance Graphic Designer"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@300..900&display=swap"
    rel="stylesheet"
/>

<!--Links and scripts-->
<link rel="stylesheet" type="text/css" href="{{home}}styles.css" />
