@import "tailwindcss";

@theme {
    --font-sans: "Outfit", sans-serif;
    --font-mono: "DM Serif Display", serif;

    /* Also change in styleSetup.ts */
    --color-kBlue: #2560e0;
    --color-kWhite: #eff1f3;
    --color-kBlack: #0a1a30;
    --color-klBlue: #f2f4f8;
    --color-kdBlue: #1a3fa0;

    --color-kOrange: #e85d45;
}

@layer base {
    html {
        @apply font-sans antialiased;
    }

    body {
        background-color: var(--color-klBlue);
        /*cursor: none;*/
    }

    h2 {
        color: var(--color-kBlue);
        font-weight: 900;
        font-size: 1.875rem;
    }

    p {
        color: var(--color-kBlack);
        font-weight: 500;
    }
    /*
    .ani-navBox * {
        transition: all 0.3s ease;
    }*/

    /** {
        outline: 2px solid red;
    }*/
}
