@import "tailwindcss";

@theme {
    --font-sans: "Outfit", sans-serif;
    --font-serif: "DM Serif Display", serif;
    --font-mono: "SUSE Mono", monospace;

    /* Also change in styleSetup.ts */
    --color-kBlue: #2560e0;
    --color-kWhite: #eff1f3;
    --color-kBlack: #0a1a30;
    --color-klBlue: #bfc8e8;
    --color-kdBlue: #1a3fa0;

    --color-kOrange: #e85d45;
}

@layer base {
    html {
        @apply font-sans antialiased;
    }

    body {
        background-color: var(--color-kWhite);
        /*cursor: none;*/
        color: var(--color-kBlack);
    }

    h2 {
        color: var(--color-kBlue);
        font-weight: 900;
        font-size: 1.875rem;
    }

    body > p {
        color: var(--color-kBlack);
        font-weight: 500;
    }

    @supports (-webkit-hyphens: none) {
        .cus-blurContainer {
            height: 100%;
        }
    }

    /*
    .ani-navBox * {
        transition: all 0.3s ease;
    }*/

    /** {
        outline: 2px solid red;
    }*/
}
