@font-face {
    font-family: "FilsonPro";
    src: url(FilsonProMedium.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0em;
    overflow-x: hidden;
    overflow-y: hidden;
}

.defLabel {
    font-family: sans-serif;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    border-radius: 50px;
    padding: 20px;
    background-color: #234dad;
    width: 120px;
    color: white;
    text-align: center;
}

.pickImgLabel {
    left: 20px;
}

.playPauseLabel {
    right: 20px;
}

.sliderLabel {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    display: flex;
    align-items: center;
}

.exportLabel {
    right: 200px;
}
